<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ng.com.onlinemedia.pc"
        version   = "2.0.1">

    <name>Point Calculator</name>

    <description>
        GPA and CGPA Point Calculator
    </description>

    <author href="http://onlinemedia.com.ng" email="admin@onlinemedia.com.ng">
        Hollyfat
    </author>

    <!-- Define the main entry-point to the application -->
    <content src="index.html" />

    <icon src="icon.jpg" />

    <!-- Customize your app and platform with the preference element. -->
    <preference name="DisallowOverscroll"         value="true" />
    <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->    

    <preference name="android-minSdkVersion"      value="14" />
    <!--<preference name="SplashScreenDelay" value="5000" />
    <plugin name="cordova-plugin-splashscreen" source="npm" />  
    
    <splash src="splash.png" />-->
    <!-- <plugin name="cordova-plugin-inappbrowser" source="npm" /> -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- <plugin name="cordova-plugin-google-analytics" spec="~1.8.2" /> -->
    <!-- <platform name="android">
        <allow-intent href="market:*" />
    </platform>     -->
</widget>
